{% load static %}
{% load main_board_extras %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main_board/styles.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,500,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=latin-ext" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar">
            <div class="container-fluid">

                <a class="navbar-brand logo ml-5" href="{% url 'main-board-home' %}">Picture Bazaar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <!--
                        <a class="nav-item nav-link" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">About</a>
                        -->
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav mr-5">
                        {% if user.is_authenticated %}

                            <div class="nav-item nav-link user-icon" style="background-image:url({{ user.profile.image.url }});">

                                <div class="user-menu">
                                        <a class="no-decoration" href="{% url 'main-board-upload' %}">
                                            <div class="user-menu-item">
                                                Upload Picture
                                            </div>
                                        </a>
                                        <a class="no-decoration" href="{% url 'main-board-uploaded' %}">
                                            <div class="user-menu-item">
                                                My Pictures
                                            </div>
                                        </a>
                                        <a class="no-decoration" href="{% url 'profile' %}">
                                            <div class="user-menu-item">
                                                Edit Profile
                                            </div>
                                        </a>
                                        <a class="no-decoration" href="{% url 'logout' %}">
                                            <div class="user-menu-item">
                                                Logout
                                            </div>
                                        </a>

                                </div>

                            </div>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Sign In</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
	</header>

    <main role="main" class="container mt-3">
        <div class="row">


            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} col-lg-12" style="text-align:center;">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>