{% extends 'main_board/base.html' %}
{% load main_board_extras %}
{% load static %}
{% block title %}Picture Bazaar - Home{% endblock %}

{% block content %}
    {% block profile %}
    {% endblock %}
    <div class="col-12 mx-auto">
        <h2>{{ header }}</h2>
    </div>
    {% for image in images %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mx-auto mt-3">
            <div class="pic-box">
                <a href="{% url 'image-detail' image.id %}">
                    <div class="pic-only" style="background-image:url({{ image.image.url }});">
                    </div>
                </a>
                <h5>
                    <a href="{% url 'image-detail' image.id %}" class="image-title">
                        {{ image.title|capfirst }}
                    </a>
                </h5>
                <div>By <a href="{% url 'profile' image.author.profile.id %}" class="profile-link">{{ image.author.username }}</a></div>
                <div class="uploaded-ago">{{ image.date|timesince|onlyfirst }} ago</div>
                <div class="dimensions">{{ image.width }} x {{ image.height }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}