{% extends 'main_board/base.html' %}

{% block title %}Picture Bazaar {% endblock %}

{% block content %}

    {% for image in images %}
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div>
                <h4> {{ image.title }}</h4>
            </div>
                <img class="detail-pic-only" src="{{ image.image.url }}">

        </div>

        <div class="col-lg-2 mt-5">
            <div class="detail-pic-text">
                <div class="detail-author">
                    <h5>{{ image.author.username }}</h5>
                </div>
                <div>
                    {{ image.width }}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        {% endfor %}


{% endblock %}