{% extends 'main_board/base.html' %}

{% block title %}Picture Bazaar {% endblock %}

{% block content %}

    <div class="col-lg-9">
        <h2>{{ image.title|capfirst }}</h2>
    </div>

    <div class="col-lg-9 mt-1" style="padding-right:0">
        <img class="detail-pic" src="{{ image.image.url }}">
    </div>
    <div class="col-lg-3 mt-1">
        <div class="form-box">
            <div class="user-icon" style="background-image:url({{ image.author.profile.image.url }});"></div>
            <h5>{{ image.author.username }}</h5>
            <div>
                {{ image.width }} x {{ image.height }}
            </div>
        </div>
    </div>

{% endblock %}