body {
  font-family: Barlow, Times, serif, "Times New Roman";
  background-color: seashell;
  margin-top: 5em;
  padding: 0.5em;
}

hr {
  margin: 12px 3px 8px;
  background-color: lightgrey;
}

.logo {
  color: #ffffff;
  font-family: Lobster;
  font-size: 40px;
  line-height: 40px;
  vertical-align: center;
  transition: 1s;
}

.logo:hover {
  color: #ffffff;
  transform: scale(1.03);
}

img {
  object-fit: contain;
}

h2 {
  font-family: Lobster;
  color: #506154;
  font-weight: 500;
  text-align: center;
}

h3 {
  vertical-align: top;
}

h5 {
  text-align: center;
  color: slategrey;
  font-size: 17px;
  font-weight: 500;
  margin: 8px 5px 8px;
}

.button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  padding: 6px 14px 8px;
  transition: 0.2s;
}

.button-green {
  color: #fafafa;
  background-color: #3cb371;
  box-shadow: 0px 3px 2px 1px rgba(20, 130, 90, 1);
}

.button-green:hover {
  color: #ffffff;
  background-color: #2ca361;
  box-shadow: 0px 2px 1px 0px rgba(20, 150, 120, 1);
}

.button-red {
  color: #fafafa;
  background-color: #fe6347;
  box-shadow: 0px 3px 2px 1px rgba(180, 70, 60, 1);
  padding: 6px 14px 8px;
}

.button-red:hover {
  color: #ffffff;
  background-color: #ee5337;
  box-shadow: 0px 2px 1px 0px rgba(180, 70, 60, 1);
}

.user-icon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


.user-menu {
  border-radius: 5px;
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #cdc;
  text-align: center;
  right: 20px;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.user-menu-item {
  border-radius: 5px;
  padding: 10px;
  color: #676;
}

.user-menu-item:hover {
  background-color: #bcb;
  color: #565;
}


.user-icon:hover .user-menu {
  display: block;
}


.image-title {
  font-family: Lobster;
  color: darkslategrey;
  transition: 0.5s;
}

.image-title:hover {
  color: slateblue;
  text-decoration: none;
}

.my-navbar {
  font-family: Arial;
  background-image: linear-gradient(mediumseagreen, seagreen);
  border-bottom: 2px solid green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-box {
  padding: 30px 50px;
  background: #e7f8e3;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-form {
  margin: 20px 0;
}

.my-sidebar {
  background: #e7f8e3;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  text-align: center;
}

.my-sidebar {
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-section {
  padding: 1em 1em;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

.pic-box {
  font-weight: 700;
  font-size: 11px;
  color: slategrey;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #fcfcfc;
  padding: 15px 8px 8px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.pic-box:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.18);
}

.pic-only {
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 9rem;
}


.pic-box-left {
  display:inline-block;
  width:48%;
}

.pic-box-right {
  display:inline-block;
  width:48%;
  text-align:right;
}

.detail-pic {
  display: block;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 40em;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.detail-pic-specs {
  padding: 30px 15px 30px;
  border-radius: 5px;
  color: slategrey;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #e7f8e3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic-tag {
  font-size: 12px;
  display: inline-block;
  padding: 0 10px 2px;
  margin-top: 5px;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  background-image: linear-gradient(70deg, lightcoral, lightsalmon);

}

.spec {
  font-size: 13px;
  color: slategrey;
}


.profile-link {
  color: lightsalmon;
  transition: 0.5s;
}

.profile-link:hover {
  color: lightsalmon;
  text-decoration: none;
}


.profile-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.no-decoration:hover {
  text-decoration: none;
}

.delete-icon, .edit-icon, .fav-icon {
  color: slategrey;
  font-size: 13px;
}

.delete-icon:hover {
  color: red;
}

.edit-icon:hover {
  color: green;
}

.fav-icon:hover {
  text-decoration: none;
  color: gold;
}