body {
  background: #f0ffea;
  color: #333333;
  margin-top: 5em;
  padding: 0.5em;
}

.my-form {
  background: #d6f9ca;
  padding: 2em;
}

.my-sidebar {
  background: #d6f9ca;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

.content-section {
  /*background: #d6f9ca;*/
  padding: 1em 1em;
  /*border: 1px solid #dddddd;*/
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}

a.sb-link {
  display: block;
  margin: 20px 0 20px 0;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.my-navbar {
  background-color: #339922;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

