{% extends "main_board/home.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Picture Bazaar - {{ user.username }}
{% endblock %}

{% block profile %}
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-8 mx-auto form-box mb-5">
        <div class="row">
            <div class="col-4">
                <div class="profile-img" style="background-image:url({{ profile.image.url }});"></div>
            </div>
            <div class="col-8 mt-5">
                <h3 style="text-align:center">{{ profile.user.username }}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-12 mx-auto mt-5">
        <h2>{{ images|length }} image{{ images|length|pluralize }} uploaded by {{ profile.user.username }}</h2>
    </div>

{% endblock %}