{% extends "main_board/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Picture Bazaar - Register
{% endblock %}

{% block content %}
	<div class="col-lg-5 col-md-6 col-sm-8 mx-auto form-box">
        <form method="Post">
            {% csrf_token %}
            <fieldset class="form-group my-form">
                <h2 class="mb-5">Register</h2>
                {{ form|crispy }}
            </fieldset>
            <div class="mx-auto">
                <button style="margin-left:auto;margin-right:auto;display:block" class="btn btn-info" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}