{% extends "main_board/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Picture Bazaar - Register
{% endblock %}

{% block content %}
	<div class="col-lg-4 col-md-6 col-sm-8 mx-auto my-form">
        <form method="Post">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 class="mb-5">Register</h1>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
    </div>
{% endblock content %}