{% extends "main_board/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Picture Bazaar - Register
{% endblock %}

{% block content %}
	<div class="col-lg-5 col-md-6 col-sm-8 mx-auto form-box">
        <h2 class="mb-5">Register</h2>
        <form method="Post">
            {% csrf_token %}
            <fieldset class="my-form">
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="button-submit" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}